body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header__Hamburger > i {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  padding: 5px;
  margin-left: 10px;
}

.header__Hamburger > i:hover {
  cursor: pointer;
}

.Main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
}

.main-page__section {
  max-width: 1300px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: black;
  width: 100%;
}

.nav__Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.hideMenu {
  -webkit-animation: hideMenu 1s both;
          animation: hideMenu 1s both;
}

.showMenu {
  -webkit-animation: showMenu 1s both;
          animation: showMenu 1s both;
}

.nav__Menu__Link {
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.nav__Menu__Link > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

@-webkit-keyframes hideMenu {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes hideMenu {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@-webkit-keyframes showMenu {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes showMenu {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.active {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 1024px) {
  nav {
    top: 0;
    left: -100%;
    width: 20%;
    height: 100vh;
  }
  @-webkit-keyframes hideMenu {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes hideMenu {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @-webkit-keyframes showMenu {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes showMenu {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  .nav__Menu__Link:hover {
    background-color: #141414;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "hamburger logo .";
  background-color: #000000;
  -webkit-box-shadow: inset 0px -4px 3px 0px rgba(255, 255, 255, 0.13);
          box-shadow: inset 0px -4px 3px 0px rgba(255, 255, 255, 0.13);
}

.header .header__Hamburger {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hamburger;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__Hamburger > i {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  padding: 5px;
}

.header .header__Hamburger > i:hover {
  cursor: pointer;
}

.header .header__logo {
  text-transform: uppercase;
  color: white;
  font-family: "Squada One", cursive;
  font-size: 37px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=App.css.map */