@import "index.scss";
@import "MenuHamburger.scss";
@import "MainPage.scss";
@import "MenuItems.scss";
@import "HomePage.scss";
@import "AddProject.scss";
@import "FormAddTask.scss";
@import "ToDoTable.scss";
@import "ManageTask.scss";
@import "Task.scss";
@import "CheckTasks.scss";
.header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "hamburger logo .";
  background-color: #000000;
  box-shadow: inset 0px -4px 3px 0px rgba(255, 255, 255, 0.13);
  min-height: 45px;
  height: 10vh;
}

.header__Hamburger {
  grid-area: hamburger;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__Hamburger > i {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  padding: 5px;
}
.header__Hamburger > i:hover {
  cursor: pointer;
}
.header__logo {
  text-transform: uppercase;
  color: white;
  font-family: "Squada One", cursive;
  font-size: 37px;
  align-self: center;
  grid-area: logo;
  justify-self: center;
}
@media screen and (min-width: 1024px) {
  .header__Hamburger {
    justify-content: start;
  }
}
