.mainText {
  text-transform: uppercase;

  font-weight: bold;
  font-size: 40px;
  margin: 10px 0 0 10px;

  overflow: hidden;

  //   animation: type 4s steps(60, end);
}

.secondText {
  font-weight: normal;
  font-size: 20px;
  //   animation: type2 8s steps(60, end);
}
